<!DOCTYPE html>
<html lang="en">

<%- include("includes/header.ejs"); %>
<body>

    <%- include("includes/nav.ejs"); %>
    <main>
        <%- include("includes/aside.ejs"); %>

        <div class="page">
            <div class="box">
                <div class="sub-box">
                    <label>
                        <h3>Search the <span>Diamond Jubilee Library</span></h3>
                        <input class="infoPlaceholder"
                            placeholder="What are you looking for? Type here either the name, the title or the publication">
                    </label>
                    <button>Search</button>
                </div>
            </div>
            <div class="main-playground">
                <div class="library-about-main">
                    <article>
                    <div class="library-title">Library</div>
                    <div class="library-about-main-info">
                        The Library is housed in a spacious double storied building with a plinth area of about 2420
                        square meters, built on the occasion of the Diamond Jubilee of the College of Engineering in
                        1992. It caters to the needs of about 5000 users comprising under-graduate, postgraduate
                        students (regular and part-time), doctoral candidates, teaching and Non-teaching staff.
                        The library procures and stocks predominantly engineering books and journals, to server the
                        requirements of all the branches of Engineering (i.e.; Biomedical, Computer Sciences, Civil,
                        Electrical, Electronics & Communication and Mechanical) and inter disciplinary subjects such as
                        Maths, Physics, Chemistry & English.
                        With grants from U.G.C under various Five Year Plans, the Library procured a number of Current
                        books for all branches of Engineering and inter disciplinary subjects.At present the library has
                        a collection of about 75,400 books and over 6,200 back volume of Journals. In addition 6,000
                        books are available in the SC/ST Books Bank about 3,000 books in Integrated Scheme of Book Bank
                        (ISBB) for Regular course students and about 2,000 books for part-time course students. The
                        funds received from the TEQIP in March 2005 have been spent for purchase of books worth Rs. 40
                        Lakhs and kept in reference section.
                    </div>
                </article>
                    <hr>
                </div>
                <div class="section1">
                    <div  class="heading">Look Through Available TextBooks</div>
                     <div id="booksID" class="book-section">
                    </div> 
                </div>
                <hr>
                <div class="section1">
                    <div class="heading">Journals</div>
                    <div id="journal" class="book-section">
                    </div>
                </div>

                <div class="section1">
                    <div class="heading">Recommended Readings</div>
                    <div id="recRead" class="book-section">
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>

<%- include("includes/footer.ejs"); %>
</html>