<aside>
    <div class="quick-access-border">
        <div class="librarian">
            <div class="librarian-about">Meet the <span>Librarian</span></div>
            <div class="librarian-image"><img src="/assets/23-School-Librarian.jpg" alt="Libranian-image"></div>
            <div class="librarian-info info">Mrs XYZ</div>
            <div class="library-contact info"><span>Email:</span> library@gmail.com</div>
            <div class="library-hours info">
                <span1>Library Timings:</span1><br><span>00:00 to 12:12</span>
            </div>
        </div>
    </div>
    <div class="anchor-links-border">
        <div class="anchor-links">
            <div class="explore-around">Looking for this?</div>
            <div class="anchor-links-list">
                <ul>
                    <li><a href="#"><span>UCEOU</span>-Official Website</a></li>
                    <li><a href="#">Books in my <span>Department</span></a></li>
                    <li><a href="#">Get a <span>Library Card</span></a></li>
                    <li><a href="#">Buy/Sell <span>Old used Books</span></a></li>
                    <li><a href="#">Location on Maps</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>