<footer>
    <div class="footer">
        <div class="UCEOU foot">
            <div class="foot-heading">UCEOU</div>
            <div class="UCEOU-address link">Osmania University, Hyderabad, Telangana</div>
            <div class="UCEOU-email link">xyz@email.com</div>
            <div class="UCEOU-phone link">+91-1234567890</div>
        </div>
        <div class="academics foot">
            <div class="foot-heading">Academics</div>
            <div class="academics-links link"><a href="#">> Courses Offered</a></div>
            <div class="academics-links link"><a href="#">> Fee Details</a></div>
            <div class="academics-links link"><a href="#">> Admissions</a></div>
            <div class="academics-links link"><a href="#">> Rules & Regulations</a></div>
            <div class="academics-links link"><a href="#">> Academic Calender</a></div>
            <div class="academics-links link"><a href="#">> Examination Timetable</a></div>
        </div>
        <div class="departments foot">
            <div class="foot-heading">Departments</div>
            <div class="departments-links link"><a href="#">> CSE</a></div>
            <div class="departments-links link"><a href="#">> Civil</a></div>
            <div class="departments-links link"><a href="#">> ECE</a></div>
            <div class="departments-links link"><a href="#">> EEE</a></div>
            <div class="departments-links link"><a href="#">> BME</a></div>
            <div class="departments-links link"><a href="#">> MECH</a></div>
            <div class="departments-links link"><a href="#">> AIML</a></div>
            <div class="departments-links link"><a href="#">> Mining</a></div>
        </div>
        <div class="quick-links foot">
            <div class="foot-heading">Quick Links</div>
            <div class="quick link"><a href="#">> 123</a></div>
            <div class="quick link"><a href="#">> 123</a></div>
            <div class="quick link"><a href="#">> 123</a></div>
            <div class="quick link"><a href="#">> 123</a></div>
            <div class="quick link"><a href="#">> 123</a></div>
            <div class="quick link"><a href="#">> 123</a></div>
            <div class="quick link"><a href="#">> 123</a></div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="credit">Mustafa</div>
        <div class="bottom-footer-right">
            <div class="rights policy">Privacy-Policy</div>
            <div class="terms policy">Terms and Conditions</div>
        </div>
    </div>
    <script src="/script.js"></script>
</footer>

