<header>
    <div class="top-header">
        <div class="welcome top">
            <h2>Welcome to UCEOU Libraries</h2>
        </div>
        <div class="made-by top">Made by MMK</div>
    </div>
    <div class="banner">
        <div class="uceou-logo logo"><img src="/assets/UCEOU-header.jpg" alt="UCEOU"
                style="width:714px;height:119px;"></div>
        <div class="ou-logo logo"><img src="/assets/UCEOU-badges.jpg" alt="OU" style="width:350px;height:105px">
        </div>
    </div>
    <nav>
    <div class="bottom-header">
        <div class="homePage active-button opt">HomePage</div>
        <div class="collections opt">Collections</div>
        <div class="departments opt">Departments</div>
        <div class="buySellHeader opt">Buy/Sell</div>
        <div class="join opt">Join</div>
        <div class="about opt">About</div>
    </div>
     </nav>
</header>
